[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
enable_typescript_language_service = false
typescript_validate_enable = false
experimentalDecorators = true
