{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier", "redux-saga", "react", "react-hooks", "jsx-a11y", "react-hooks"],
  "rules": {
    "import/prefer-default-export": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "import/no-extraneous-dependencies": 0
  }
}
